@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*:not(i,span){
    font-family: "Poppins", sans-serif;
}


:root{
    --paragrafos: #404040;
    --principal: #00D084;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    color: var(--paragrafos);
}

.nav{
    position: fixed;
    background-color: transparent;
    top: 40px;

    
}

.info{
    position: fixed;
    left: 0;
    top: 0;
    height: 40px;
    width: calc(100% - 400px);
    background-color: #fff;
    z-index: 999;
}
body{
    background-color: #fff;
}
/* header{
    background-color: #fff;
    height: 40px;
} */
main{
    padding: 10px 200px;
    margin-top: 60px;

}

/* .nav li a{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    opacity: 100%;
    
    
} */

.btnContatos a{
    width: 190px;
    height: 28px;
    border: 1px solid #fff;
    color: #fff;
}

.politicasL{
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin: 30px 0px;
}

#policies{
    background-color: #efefef;
    font-size: 1rem;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    color: #2e3641;
    text-transform: capitalize;
}

.paragrafosTexto{
    padding: 10px 20px;
}
main p, .paragrafosTexto li{
    text-align: justify;
    font-size: 1rem;
    line-height: 30px;
    margin: 20px 0px;
    color: #555;
}

a{
    color: #2e3641;
    font-weight: 700;
}

a:hover{
    color: #00D084;
    transition: all ease .5s;
}

.paragrafosTexto ul li{
    margin-left: 20px;
}

h3{
    font-size: 16px;
    margin-bottom: 0px;
}

.sobreM{
    border: 0px solid black;
    margin-top: 100px;
    min-height: 400px;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.sobreM img{
    width: 100%;
}

.imagem{
    width: 47%;
}

.textoNos{
    width: 50%;
    font-size: 1.1rem;
    text-align: justify;
}

.jkSobre{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #eee;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; */
    padding-bottom: 80px;
}

.jkSobre:last-child{
    border-bottom: 0px;
}
#missao{
    height: 400px;
}

h1{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
}

.textoNos h2{
    width: 450px;
    text-align: left;
    font-size: 1.5rem;
}

.slideLko{
    height: 110vh;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contatoSec{
    border: 0px!important;
    box-shadow: none;
}

.imagensSlide{
    height: calc(100vh - 25px);
    /* height: 600px; */
    background-image: url(../../assets/imgs/banner/MARTINHO.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center!important;
    justify-content: flex-start!important;
    padding: 0px 200px;
    position: relative;
    border: 0px solid var(--principal);

}
.imagensSlide:nth-child(2){
    background-image: url(../../assets/imgs/banner/bannerOlaya.png);
}

.imagensSlide:nth-child(3){
    background-image: url(../../assets/imgs/banner/l3.png);
}
@media (max-width: 1154px){
    .info, main{
        width: calc(100% - 200px);
        padding: 0px 100px;
    }

    main{
        margin-top: 70px;
    }

    .nav{
        width: calc(100% - 200px);
        padding: 10px 100px;
    }
}

@media (max-width: 814px){
    .info, main{
        width: calc(100% - 100px);
        padding: 0px 50px;
    }

    main{
        margin-top: 70px;
    }

    .nav{
        width: calc(100% - 100px);
        padding: 10px 50px;
    }
}

